@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Comfortaa&family=Exo+2&family=Lato:wght@700&family=Lobster&family=Montserrat&family=Roboto+Slab&family=Signika+Negative&family=Ubuntu:wght@700&display=swap');
#front,#back{
    height:400px ;
    width:400px;
    background:linear-gradient(to right, #2c3e50, #3498db);
    display: flex;
    flex-direction: column;
    border-radius: 10%;
}
.react-card-front,.react-card-flipper,.react-card-flip{
    width: 400px;
    height: 330px;
    margin: 35px;
}
#play{
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10%;
    height: 280px;
    width: 370px;
}
#button{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
.ExHead{
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    text-align: center;
    padding: 5px;
    font-size: 22px;
   color:  #142850;
   margin-top: 40px;
   font-family: 'Ubuntu',sans-serif;
   margin-bottom: 10px;
   font-weight: 400;

}

#back ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 40px;
    width: 80%;
    list-style: none;

}
#back li{
    display: flex;
    
}
#back li{
    color: white;
    font-size: 20px;
    width: 100%;
    border-bottom: 1px solid #142850;
    padding: 3px 0px;
}
#return{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
#return button{
   width: 150px;
   margin-top: 40px;
}
#back li span{
    font-weight: 500;
    font-family: 'Roboto Sald',sans-serif;
    font-size: 20px;
}