@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Comfortaa&family=Exo+2&family=Lato:wght@700&family=Lobster&family=Montserrat&family=Roboto+Slab&family=Signika+Negative&display=swap');
#menu{
    display:flex;
     flex-direction: column;
    align-items: center;
    background: #0f0c29;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.rec{
    font-family: 'Montserrat', sans-serif;;
    letter-spacing: 0px;
    font-size:30px;
    color:#3282B8;
    margin: 0px;
    width: 100%;
    font-weight: 900;
    text-align: center;
    padding-left: 10px;
    padding-top: 10px;
    background-color: aliceblue;
    padding-bottom: 10px;
}
#food{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;   

}
#cat{
    display:flex;
    width: 100%;
    justify-content: center;
}
#cat ul{
 list-style: none;
 width: 100px;
 height: 80px;
 background-color: aliceblue;
 padding-left: 0px;
}
#cat li{
  font-family:'Roboto Sald',sans-serif;
  border-bottom: #3282B8 solid 2px;
  color: black;
  font-size: 16px;
  width: 90%;
  text-align: left;
  padding: 10px;
  padding-right: 0px;
  
}
#cat li:hover{
 cursor: pointer;
 box-shadow: 2px 1px 4px 3px aqua;
 transition: 400ms;
 color:#3282B8;
 font-weight: 700;
}
