@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Comfortaa&family=Exo+2&family=Lobster&family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Arvo&family=Comfortaa&family=Exo+2&family=Lobster&family=Roboto+Slab&family=Signika+Negative&display=swap');
#content{
    display: flex;
    background: linear-gradient(to right,rgba(189, 195, 199,0.7), rgba(44, 62, 80,0.9));
    flex-direction: column;
    align-items: center;
    opacity: 0.9;
    height: 330px;
    width: 40%;
    border-radius: 10%;

}
#content h1{
    font-family: 'Anton',sans-serif;
    font-size: 130px;
    color: #132C33;
    letter-spacing: 5px;
    margin: 0px;
    padding-bottom: 0px;


}
#content span{
    color: white;
    font-size: 22px;
    font-weight: 700;
    font-family:'Signika Negative', sans-serif; 
    letter-spacing: 1px;
}
#id{
 display: flex;
 justify-content: center;
 background-color: black;
 align-items: center;
 height:575px;

background-size: cover;
background-repeat: no-repeat;
background-position: center;
}