#MyOrder{
    height: 550px;
    width:700px;
  
border-radius: 20px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 40px;
margin-left: 70px;
z-index: 20;
position: fixed;
top:12%;
left: 18%;
background-color: white;

}
#MyOrder h1{
width: 100%;

background-color: red;
font-size: 40px;
color: white;
width: 98%;
padding: 10px;
text-align: center;

}
#MyOrder span{
    color: black;
    font-size: 30px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#MyOrder h2{
    color:black;


}
#MyOrder div{
   margin-bottom: 40px;
 

}
#MyOrder button{
    margin-left: 0px;
}