#places{
    height:  750px;
    background: #603813;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #b29f94, #603813);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #b29f94, #603813); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#AllHotels{
    display: flex;
    align-items: center;
    justify-content: center ;
    height: 90%;
    width: 100%;
 
}
#AllHotels button{
    border-radius: 50px;

}
#AllHotels img{
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.ForBack{
display: flex;
align-items: center;
margin-left: 0px;


}
#MyPlace{
    width: 1000px;
}
