#window{
    background: linear-gradient(to right, #1fa2ff, #12d8fa, #a6ffcb);
    width:380px;
    height: 400px;
    margin: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
#window #tile{
     color:white;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
     font-size: 20px;
     width: 100%;
     text-align: center;
     margin: 5px;
     
    
}
#window #time
{
    color: whitesmoke;
    font-weight: 700;
    text-align: center;
    font-size: 40px;
    margin-left: 0px;
    padding-left: 10px;

}

.bt1{
    width: 30%;
    padding: 10px 20px;
    border: none;
    font-family: 'Roboto Sald',sans-serif;
    font-size: 18px;
    border-bottom: 1px solid grey;
    border-radius: 24px;
    background:white;
    color: black;
    font-weight: 700;
    padding-bottom: 20px;
    margin: 5px;
    height: 70%;
}
#stop{
    display: flex;
    width: 100%;
    flex-direction: column;
    height:50%;
    align-items: center;
    justify-content: space-evenly;
}
.bt1:hover{
    transform: translateY(-8px);
    opacity: 0.8;
    cursor: pointer;
    background-color: #12d8fa;
    box-shadow: 3px 2px 6px 2px grey;
    transition: 400ms;
}
#stop img{
    width: 60%;
    height: 60%;
    margin-bottom: 20px;
   
}
#stop  span{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}